Import all necessary libraries

In [1]:
import pandas as pd

Import Superstore and Customer data

In [2]:
df1= pd.read_csv('SuperstoreUnprocessed.csv')

In [3]:
df2=pd.read_csv('CustomerInformation.csv')

Merge the 2 datsets to create 1 big dataset

In [4]:
MainDf=pd.concat([df1,df2], axis=1)

# **Clean and prepare data for analysis**

1. Check if all column have the correct data type and
format

In [5]:
print(MainDf.dtypes)

Row ID            float64
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Customer Name      object
Segment            object
Country            object
City               object
State              object
Postal Code       float64
Region             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales             float64
Quantity          float64
Discount          float64
 Profit            object
age                 int64
payment_method     object
dtype: object

'Order Date' and 'Ship date' were set to a string value, so I change it to the correct datatype using the built in datetime object in Pandas.

In [6]:
MainDf['Order Date'] = pd.to_datetime(MainDf['Order Date'], format="%d/%m/%Y")
MainDf['Ship Date'] = pd.to_datetime(MainDf['Ship Date'], format="%d/%m/%Y")

2. Check for number of null values for each column.

In [7]:
print(MainDf.isnull().sum())

Row ID            1
Order ID          1
Order Date        1
Ship Date         1
Ship Mode         1
Customer ID       1
Customer Name     1
Segment           1
Country           1
City              1
State             1
Postal Code       1
Region            1
Product ID        1
Category          1
Sub-Category      1
Product Name      1
Sales             1
Quantity          1
Discount          1
 Profit           1
age               0
payment_method    0
dtype: int64

In [8]:
print(MainDf.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0     1.0  CA-2013-152156 2013-11-09 2013-11-12    Second Class    CG-12520
1     2.0  CA-2015-152156 2015-11-09 2015-11-12    Second Class    CG-12520
2     3.0  CA-2015-138688 2015-06-13 2015-06-17    Second Class    DV-13045
3     4.0  US-2012-108966 2012-10-11 2012-10-18  Standard Class    SO-20335
4     5.0  US-2012-108966 2012-10-11 2012-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600      2.0
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400      3.0
2  Self-Adhesive Address Labels for Typewriters b...   14.6200      2.0
3      Bretford CR4500 Series Slim Rectangular Table  957.5775      5.0
4                     Eldon Fold 'N Roll Cart System   22.3680      2.0

  Discount   Profit   age  payment_method
0     0.00     41.91   28     Credit Card
1     0.00    219.58   28      Debit Card
2     0.00      6.87   20            Cash
3     0.45   -383.03   66     Credit Card
4     0.20      2.52   66            Cash

[5 rows x 23 columns]

To enhance the dataset for analysis, I  will add 2 columns, 'Order Year' and 'Order Month' from the existing 'Order Date' column. Firsty converted Order Date to be a dtetime using Pandas with the format "%d/%m/%Y". I extracted the Year and Month from 'Order Date' using the dt.year and dt.month accessor to complete this.

In [9]:


MainDf['Order Year']= MainDf['Order Date'].dt.year
MainDf['Order Month']= MainDf['Order Date'].dt.strftime('%B')

Add a new column called 'Age Range' that gets the get range of all consumers

In [10]:
bins=[0,17,24,34,44,54,64,120]
labels=['under 18','18-24','25-34','35-44','45-54','55-64','65+']

In [11]:
MainDf['Age Range']=pd.cut(MainDf['age'],bins=bins,labels=labels,right=True)

In [12]:
print(MainDf.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0     1.0  CA-2013-152156 2013-11-09 2013-11-12    Second Class    CG-12520
1     2.0  CA-2015-152156 2015-11-09 2015-11-12    Second Class    CG-12520
2     3.0  CA-2015-138688 2015-06-13 2015-06-17    Second Class    DV-13045
3     4.0  US-2012-108966 2012-10-11 2012-10-18  Standard Class    SO-20335
4     5.0  US-2012-108966 2012-10-11 2012-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600      2.0
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400      3.0
2  Self-Adhesive Address Labels for Typewriters b...   14.6200      2.0
3      Bretford CR4500 Series Slim Rectangular Table  957.5775      5.0
4                     Eldon Fold 'N Roll Cart System   22.3680      2.0

  Discount  Profit  age payment_method  Order Year  Order Month  Age Range
0     0.00    41.91  28    Credit Card      2013.0     November      25-34
1     0.00   219.58  28     Debit Card      2015.0     November      25-34
2     0.00     6.87  20           Cash      2015.0         June      18-24
3     0.45  -383.03  66    Credit Card      2012.0      October        65+
4     0.20     2.52  66           Cash      2012.0      October        65+

[5 rows x 26 columns]

Save processed and cleaned data to a csv file

In [13]:
MainDf.to_csv('SuperstoreProcessed.csv',index=False)
from google.colab import files
files.download('SuperstoreProcessed.csv')